@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;700&family=Poppins:wght@100;200;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 241, 245, 249 ;
  --background-start-rgb: 9, 9, 11;
  --background-end-rgb: 9, 9, 11;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
h2{
  font-family: Josefin Sans;
}
h3,p{
  font-family: Poppins;
}
a{
  font-family: Poppins;
}
.fadeIn{
  animation: fade-in 3s steps(40, end);
}
@keyframes fade-in{
  from { opacity: 0 }
  to { opacity: 100% }
}